.button {
    width: 100%;
    text-align: center;
}
.text {
    border: solid black;
    color: black;
    padding: 1.5em;
    background-color: white;
    text-decoration: underline;
    font-size: 1em;
}